fblthp/card-server/secret_tokens.py
fblthp/magic_mike/*
cards.csv
corpus.csv
*.pyc
*.mse-set
fblthp/out/*
fblthp/helpers/constants.py
fblthp/constants.py
fblthp/discord-app/.env
fblthp/cube-app/secret_tokens.py
fblthp/helpers/secret_tokens.py
fblthp/abilities.json
fblthp/images/downloaded/*
fblthp/images/rendered/*
fblthp/saveTest.mse-set
fblthp/saveTest.xml
fblthp/helpers/toZip/set
fblthp/wordpiece_tokenizer.json
fblthp/wandb/*
fblthp/output.txt
*.pt
