.cardGrid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: .5rem;
    padding: 1rem;
}

.card{
    width: 75%;
    height:auto;
    transform:scale(1, 1);
    transition: .1s;

    &:hover {
        transform:scale(1.1, 1.1);
    }
}